{% extends 'template.html' %}

{%block content%}
<p class = "title-name">About</p>
<p class = 'subtitle'>Bobby Mitchell</p>
<p class = "mini-title">Github: https://github.com/bobby633/Project </p><p class = "mini-title"> Email : C00230277@itcarlow.ie | bobbymitchell222@gmail.com</p>

   <p class = "text" >this web page is designed to take in a text and give back the sentiment analysis(the emotion) of the text in an easy to understand format. Created with the guidance of Greg Doyle<p> 



{%endblock content%}