{% extends 'template.html' %}
{%block title%}Sentiment Analysis{%endblock%}

{%block content%}

<p class ="welcome">Welcome {{name}} ! <p>
<p class='title-name'> Sentiment Analysis</p>
    
              <p class = 'subtitle'>Social Media</p>
              <p class = "mini-title">Developer: Bobby Mitchell </p><p class = "mini-title"> Supervisor : Greg Doyle</p>
              <div class = "columns">
              <a href = "/search"><button class='begin' >Search</button></a>
              <a href = "/search-user"><button class='begin' >Search User</button></a>
              </div>


<script>
function choose() {
    console.log("worked");
}
</script>


{%endblock content%}


